In [1]:
import geopandas as gpd
import pandas as pd
import matplotlib.pyplot as plt
import fiona

In [2]:
gdf_shp = gpd.read_file('ar017sriceflds.shp')
gdf_shp.head(2)

,Join_Count,TARGET_FID,Consult_ID,FIELDFVID,FARM,GROWER,FIELD,Center_X,Center_Y,Shape_Leng,Acres_GIS,NAME,STATE_NAME,FIPS,ZIP_CODE,STATE,Shape_Le_1,Shape_Le_2,Shape_Area,geometry
0,1,470,RD,343042,Jesse James,Whitaker Farms,Jesse James 36,-91.408175,33.539830,0.015442,37.4382,Chicot County,Arkansas,05017,71638,AR,0.015442,0.015442,0.000015,"POLYGON ((-91.41003 33.54153, -91.41001 33.541..."
1,1,490,RD,622972,Chicot,Whitaker Farms,1,-91.345902,33.372063,0.014053,29.0258,Chicot County,Arkansas,05017,71653,AR,0.014053,0.014053,0.000011,"POLYGON ((-91.34806 33.37096, -91.34803 33.373..."

In [3]:
gdf_shp.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Join_Count  33 non-null     int64
 1   TARGET_FID  33 non-null     int64
 2   Consult_ID  33 non-null     object
 3   FIELDFVID   33 non-null     object
 4   FARM        33 non-null     object
 5   GROWER      33 non-null     object
 6   FIELD       33 non-null     object
 7   Center_X    33 non-null     float64
 8   Center_Y    33 non-null     float64
 9   Shape_Leng  33 non-null     float64
 10  Acres_GIS   33 non-null     float64
 11  NAME        33 non-null     object
 12  STATE_NAME  33 non-null     object
 13  FIPS        33 non-null     object
 14  ZIP_CODE    33 non-null     object
 15  STATE       33 non-null     object
 16  Shape_Le_1  33 non-null     float64
 17  Shape_Le_2  33 non-null     float64
 18  Shape_Area  33 non-null     float64
 19  geometry    33 non-null     geometry
dtypes: float64(7), geometry(1), int64(2), object(10)
memory usage: 5.3+ KB

In [23]:
# need to output CSV with WKT column in format needed by AgriTask
# subset required columns
sub_df = gdf_shp[['GROWER', 'FIELD', 'geometry']]
sub_df.head(1)
#agrtask_clmns =

,GROWER,FIELD,geometry
0,Whitaker Farms,Jesse James 36,"POLYGON ((-91.41003 33.54153, -91.41001 33.541..."

In [24]:
# converting 'geometry' to object dtype for export to CSV
sub_df['WKT'] = sub_df.geometry.to_wkt()

c:\Users\laris\repos\eo-data\.venv38eo\lib\site-packages\geopandas\geodataframe.py:1443: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

In [25]:
# drop geometry
sub_df.drop(['geometry'], axis=1, inplace=True)

C:\Users\laris\AppData\Local\Temp\ipykernel_24940\159568880.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_df.drop(['geometry'], axis=1, inplace=True)

In [32]:
# rename grower to test injest
sub_df['GROWER'] = 'Larisa Landviser'
sub_df.head(1)

c:\Users\laris\repos\eo-data\.venv38eo\lib\site-packages\geopandas\geodataframe.py:1443: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

,GROWER,FIELD,plot_name1,plot_name2,E,F,G,H,I,J,K,WKT,clay_content_percentage
0,Larisa Landviser,Jesse James 36,,,,,,,,,,"POLYGON ((-91.410028 33.541532, -91.410007 33....",

In [26]:
sub_df.insert(2,'plot_name1','')
sub_df.insert(3,'plot_name2','')
sub_df.insert(4,'E','')
sub_df.insert(5,'F','')
sub_df.insert(6,'G','')
sub_df.insert(7,'H','')
sub_df.insert(8,'I','')
sub_df.insert(9,'J','')
sub_df.insert(10,'K','')
sub_df.insert(12,'clay_content_percentage','')

In [27]:
sub_df.head(1)

,GROWER,FIELD,plot_name1,plot_name2,E,F,G,H,I,J,K,WKT,clay_content_percentage
0,Whitaker Farms,Jesse James 36,,,,,,,,,,"POLYGON ((-91.410028 33.541532, -91.410007 33....",

In [28]:
sub_df.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   GROWER                   33 non-null     object
 1   FIELD                    33 non-null     object
 2   plot_name1               33 non-null     object
 3   plot_name2               33 non-null     object
 4   E                        33 non-null     object
 5   F                        33 non-null     object
 6   G                        33 non-null     object
 7   H                        33 non-null     object
 8   I                        33 non-null     object
 9   J                        33 non-null     object
 10  K                        33 non-null     object
 11  WKT                      33 non-null     object
 12  clay_content_percentage  33 non-null     object
dtypes: object(13)
memory usage: 3.5+ KB

In [33]:
# export as CSV to bulk upload in AgriTask
sub_df.to_csv('LLtest.csv', index=False)